.app-container {
  height: 100vh;
  width: 100vw;
  background-color: turquoise;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all 0.8s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.container.fade.before-enter {
  opacity: 0;
}

.container.fade.enter,
.container.fade.entered {
  opacity: 1;
}

.container.fade.before-leave {
  opacity: 1;
}

.container.fade.leave,
.container.fade.left {
  opacity: 0;
}

.container.slide.before-enter {
  transform: translateX(-100%);
}

.container.slide.before-leave {
  transform: translateX(0);
}

.container.slide.leave,
.container.slide.left {
  transform: translateX(100%);
}

.container.slide.enter,
.container.slide.entered {
  transform: translateX(0);
}
